.image{
    width:400px;
    border-radius: 8px;
    display:block;
}

.image1{
    width:400px;
    height:auto;
    border-radius: 8px;
    object-fit: contain;
    vertical-align: top;

}

.search{
    width:200px;
    height:20px;
    margin-left: 10px;
    border-radius: 20px;
    border-color:black;
    border-width:2px;
    border-style: solid;
    margin-bottom: 10px;
    display:block;
}

.search:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.25);
    transition: 0.3s;
}

.template{
    width:200px;
    height:200px;
    background-color: white;
    align-self: auto;
    object-fit: contain;
    border-style:dashed;
    border-radius:200px;
}

.template:hover{
    box-shadow: 5px 5px 5px rgba(0.25, 0.25, 0.25,0.25);
    object-fit: contain;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.video-preview1{
    display:inline-block;
}

.video-preview2{
    display:inline-block;
    margin-left: 10px;
}